.s1 {
  align-items: center;
  background: var(--color-info-light);
  border-radius: var(--radius-md);
  color: var(--color-info);
  display: flex;
  flex-shrink: 0;
  height: var(--space-8);
  justify-content: center;
  width: var(--space-8);
}
