.s1 {
  align-items: center;
  background: var(--color-success-light);
  border-radius: var(--radius-full);
  color: var(--color-success);
  display: flex;
  font-size: var(--text-xs);
  font-weight: var(--weight-bold);
  height: var(--space-8);
  justify-content: center;
  width: var(--space-8);
}
.s2 {
  margin-left: var(--space-1-5);
}
