.s1 {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.s2 {
  display: flex;
  gap: 4px;
}
.s3 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.s4 {
  background: var(--color-border);
  border-radius: 9999px;
  height: 0.5rem;
  width: 6rem;
}
.s5 {
  background: var(--color-success);
  border-radius: 9999px;
  height: 0.5rem;
}
